<section class="section-padding bg-gray">
    <div class="container text-center mb-45">
        <div class="row">
            <div class="col-md-12">
                <h2 class="normal"><span>What is brve effect?</span></h2>
                <p class="large">
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br />
                    developers can use to quickly grab dummy text.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-xs-30">
                <h5>Inclusion</h5>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-xs-30">
                <h5>Ingenuity</h5>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h5>Innovation</h5>
                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-4">
      <a href="#" class="btn btn-xs btn-gray-blue ">Submit my Story<i class="fa fa-angle-right right"></i></a>
    </div>
</section>