<!-- Footer Section -------------->
<footer class="footer" style="padding-top: 40px;">
    <!-- Footer Info -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-45">
                <div class="footer-block about-us-block">
                    <h6>About</h6>
                    <p>Gumbo beet greens corn soko endive gum gourd. Parsley allot courgette tatsoi pea sprouts fava bean soluta nobis est ses eligendi optio.</p>
                    <ul class="footer-social-icon list-none-ib">
                        <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block information-block">
                    <h6>Information</h6>
                    <form class="dflex flex-row">
                        <input id="email-address" name="footeremail" title="Email address" placeholder="Enter Email Address.." type="text">
                        <button class="btn-news"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block links-block">
                    <h6>Our Links</h6>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Special Event</a></li>
                        <li><a href="#">Retunrs</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block extra-block">
                    <h6>Extra</h6>
                    <ul>
                        <li><a href="#">New Collection</a></li>
                        <li><a href="#">Women Dresses</a></li>
                        <li><a href="#">Kids Collection</a></li>
                        <li><a href="#">Mens Collection</a></li>
                        <li><a href="#">Custom Service</a></li>
                        <li><a href="#">Shipping policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Info -->

    <!-- Footer Copyright -->
    <div class="row">
        <div class="copyrights pl-5 my-5">
            <p class="copyright">&copy; Copyright <a href="http://nileforest.com/" target="_blank">brve</a> 2022</p>
        </div>
    </div>
    <!-- End Footer Copyright -->
</footer>
<!-- End Footer Section -------------->