
<section class="section-padding instagram bg-gray">
    <div class="container text-center">
        <h2 class="page-title">Instagram</h2>
        <p class="">Follow Us <a class="strong" href="#">@brve</a></p>
    </div>
    <div class="container">
        <ul class="intagram-feed">
            <li>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/Ins02.png?v=1661899683" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/Ins04.png?v=1661899683" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/Ins05.png?v=1661899683" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/Ins06.png?v=1661899683" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>