<section id="brand-logo" class="section-padding brand-logo">
    <div class="container">
        <ul class="brand-logo-carousel owl-carousel owl-theme">
            <li class="brand-item"><a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/01.png?v=1661897876" alt="nileforest" />
            </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/02.png?v=1661897876" alt="niletheme" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/03.png?v=1661897876" alt="nile" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/04.png?v=1661897876" alt="forest" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/05.png?v=1661897876" alt="themeforest" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/06.png?v=1661897876" alt="woocommerce" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/07.png?v=1661897876" alt="ecommerce" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/08.png?v=1661898060" alt="html" />
                </a>
            </li>
            <li class="brand-item d-flex align-items-center justify-content-center">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/09.png?v=1661898060" alt="multiprapose" />
                </a>
            </li>

        </ul>

    </div>
</section>