<div class="sidebar-container">

    <!-- Categories -->
    <div class="widget-sidebar">
        <h6 class="widget-title">Filters</h6>
        <ul class="widget-content widget-product-categories jq-accordian">
            <li><a href="#">Staff Picks</a></li>
            <li><a href="#">Longest Stories</a></li>
            <li><a href="#">Most Popular</a></li>
            <li><a href="#">Highest Rated</a></li>
        </ul>
    </div>

    <!-- Filter By Tag -->
    <div class="widget-sidebar widget-filter-tag">
        <h6 class="widget-title">Popular Tags</h6>
        <ul class="widget-content">
            <li>
                <a href="#">Shirt</a>
            </li>
            <li>
                <a href="#">Bag</a>
            </li>
            <li>
                <a href="#">Vintage</a>
            </li>
            <li>
                <a href="#">Sweaters</a>
            </li>
            <li>
                <a href="#">t-shirt</a>
            </li>
            <li>
                <a href="#">white</a>
            </li>
            <li>
                <a href="#">Black</a>
            </li>
            <li>
                <a href="#">New</a>
            </li>
            <li>
                <a href="#">Popular</a>
            </li>
        </ul>
    </div>

    <!-- Widget Product -->
    <div class="widget-sidebar widget-product">
        <h6 class="widget-title">Popular Stories</h6>
        <ul class="widget-content">

            <!--Item-->
            <li>
                <a class="product-img" href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/photo-1542596594-649edbc13630.jpg?v=1660924123" alt="">
                </a>
                <div class="product-content">
                    <a class="product-link" href="#">Alpha Block Black Polo Sleem T-Shirt</a>
                    <div class="star-rating">
                        <span style="width: 80%;"></span>
                    </div>
                    <span class="product-amount">$399.00</span>
                </div>
            </li>

            <!--Item-->
            <li>
                <a class="product-img" href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/photo-1542596594-649edbc13630.jpg?v=1660924123" alt="">
                </a>
                <div class="product-content">
                    <a class="product-link" href="#">Red Printed Round Neck T-Shirt</a>
                    <div class="star-rating">
                        <span style="width: 100%;"></span>
                    </div>
                    <span class="product-amount">$399.00</span>
                </div>
            </li>

            <!--Item-->
            <li>
                <a class="product-img" href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/photo-1542596594-649edbc13630.jpg?v=1660924123" alt="">
                </a>
                <div class="product-content">
                    <a class="product-link" href="#">Maroon Solid Henley T-Shirts</a>
                    <div class="star-rating">
                        <span style="width: 100%;"></span>
                    </div>
                    <span class="product-amount">$399.00</span>
                </div>
            </li>

        </ul>
    </div>

    <div class="widget-sidebar widget-banner">
        <a href="#" class="banner-image-wrap">
            <img src="https://cdn.shopify.com/s/files/1/1368/3463/files/Mens_HP_Block_Shop_All_768x_crop_center@2x.progressive.jpg?v=1658953004" alt="" />
        </a>
    </div>

</div>