<section id="promo-banner" class="section-padding-b mt-90">
    <div class="container">
        <h2 class="page-title">Stories by City</h2>
    </div>
      <div class="container">
          <div class="row">
              <!--Left Side-->
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-12 mb-30">
                          <!-- banner No.1 -->
                          <div class="promo-banner-wrap">
                              <a href="#" class="promo-image-wrap">
                                  <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/manhattan.jpg?v=1661897364" alt="Accesories" />
                              </a>
                          </div>


                      </div>
                      <div class="col-12 mb-sm-30">
                          <!-- banner No.2 -->
                          <div class="promo-banner-wrap">
                              <a href="#" class="promo-image-wrap">
                                  <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/SLC.jpg?v=1661897364" alt="Accesories" />
                              </a>
                          </div>


                      </div>
                  </div>
              </div>

              <!--Right Side-->
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-12 mb-30">
                          <!-- banner No.3 -->
                          <div class="promo-banner-wrap">
                              <a href="#" class="promo-image-wrap">
                                  <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/miami.jpg?v=1661897364" alt="Accesories" />
                              </a>
                          </div>
                      </div>
                      <div class="col-12 mb-sm-30">
                          <!-- banner No.4 -->
                          <div class="promo-banner-wrap">
                              <a href="#" class="promo-image-wrap">
                                  <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/sanfrancisco.jpg?v=1661897364" alt="Accesories" />
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="like-share" class="like-share">
    <div class="container">
        <div class="like-share-inner overlay-black40 d-flex justify-content-between align-items-center">
            <h3>Save <span class="color">10%</span> off your next brve aparrel purchase</h3>
            <button class="btn btn-gray-blue"> Shop Now</button>
        </div>
    </div>
</section>