<section id="intro" class="intro">
    <!-- Revolution Slider -->
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="background-color: transparent; padding: 0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
        <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.3.0.2">
            <ul>
                <li class="dark-bg" data-index="rs-1" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="01">
                    <!-- Main Image Layer 0-->
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/brve-aparrel.jpg?v=1661900322" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- <div data-comp="VideoPlayer" class="css-wm9ae9"><video title="Hero video" playsinline="" loop="" autoplay="" class="css-nfy20p"><source src="https://cdn.shopify.com/videos/c/o/v/de50a7feccd940a88a65beb8645c99fd.mp4" type="video/mp4">Your browser does not support the <code>video</code> element.</video></div> -->

                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme text-left" style="letter-spacing: 0px; line-height: 60px; width: 600px;"
                        data-x="140"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="off">Do good<br />
                        for everyone
                    </h1>


                    <!--Layer 2-->
                    <h5 class="tp-caption NotGeneric-Title tp-resizeme normal text-left" style="letter-spacing: 0px; width: 600px;"
                        data-x="140"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="0"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Lets build a better world
                    </h5>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-lg btn-gray-blue" style="width: 240px;"
                        data-x="140"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="75"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="1100"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Submit Your Story
                    </a>


                </li>
                <li data-index="rs-2" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="02">
                    <!-- Main Image Layer 0-->
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/effect_e61dcd02-b932-4c83-83de-0c70f140a728.jpg?v=1661900292" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- LAYERS -->

                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px; width: 600px; color: white;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Bang's Eng 20% Off
                    </h1>


                    <!--Layer 2-->
                    <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal " style="letter-spacing: 0px; color: white; width: 600px;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="0"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">The Bag for Summer
                    </h3>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-lg btn-gray-blue" style="width: 170px;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="75"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="1100"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">See More
                    </a>
                </li>
                <li data-index="rs-3" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="03">
                    <!-- Main Image Layer 0-->
                    <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/podcast.jpg?v=1661900347" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- LAYERS -->

                    <!--Layer 1-->
                    <div class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px; width: 600px; color: white;"
                        data-x="center"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-65"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">
                        <img src="img/slider-caption-sale.png" alt="" style="width: 100%; max-width: 682px; width: 600px; color: white;" />
                    </div>

                    <!--Layer 2-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-lg btn-gray-blue" style="width: 170px;"
                        data-x="center"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="65"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="900"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">See More
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- End Revolution Slider -->
</section>