<!-- New Product -->
<section class="section-padding">
    <div class="container">
        <h2 class="page-title">Trending Stories</h2>
    </div>
    <div class="container">
        <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
            <!-- item.1 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <!-- <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p> -->
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- item.2 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <!-- <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p> -->
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- item.3 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <!-- <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p> -->
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- item.4 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <!-- <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p> -->
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- item.5 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- item.6 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- item.7 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/card.png?v=1661880753" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Add To Whishlist"><i class="fa fa-heart"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="Quick&nbsp;View"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <p class="product-title"><a href="product_detail.html">Helped get Groceries</a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container d-flex justify-content-center mt-4">
      <a href="#" class="btn btn-xs btn-gray-blue">See All Stories<i class="fa fa-angle-right right"></i></a>
    </div>
</section>
<!-- End New Product -->