<section class="section-padding gray-blue-bg container-fluid text-center mt-5">
    <div class="container newsletter section-padding-b">
        <h2 class="page-title-white" style="margin-bottom: 0 !important;">Join Our Newsletter</h2>
        <p class="italic" style="color: #ffffff;">Sign up For Exclusive Updates, New Arrivals And Insider-Only Discount.</p>
        <form class="dflex flex-row">
            <input id="email-address" name="footeremail" title="Email address" placeholder="Email Address" type="text">
            <button class="btn-news"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </form>
    </div>
</section>
<section class="">
    <div class="container container-margin-minus-t">
        <div class="home-about-blocks">
            <div class="col-12 about-blocks-wrap">
                <div class="row">
                    <!--Customer Say-->
                    <div class="col-sm-6 col-md-6 customer-say">
                        <div class="about-box-inner">
                          <h4 class="mb-25">Your Story</h4>
                          <p class="mb-20">Did someone do something good for you? Record that story below to keep the trend going.</p>
                          <a href="#" class="btn btn-xs btn-gray-blue">Post Your Story <i class="fa fa-angle-right right"></i></a>
                            <!--End Customer Carousel-->
                        </div>
                    </div>

                    <!--About Shop-->
                    <div class="col-sm-6 col-md-6 about-shop">
                        <div class="about-box-inner">
                            <h4 class="mb-25">About brve</h4>
                            <p class="mb-20">Welcome to <b class="black">brve</b> - Click to learn more about who we are & how we plan to save the world one good deed at a time</p>
                            <a href="#" class="btn btn-xs btn-gray-blue">Learn More <i class="fa fa-angle-right right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>