<div class="row">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="prt_contact_info ">
            <div class="prt_contact_form">
                
                <form [formGroup]="deedsForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1>Submit your story</h1>
                                <p>
                                    Damn! How good did that just make you feel?
                                    Track this card’s impact on people around the world.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <app-form-control>
                                    <input 
                                        type="text" 
                                        name="card-number" 
                                        placeholder="Card Number"
                                        formControlName="cardNumber">
                                </app-form-control>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <app-form-control>
                                    <input 
                                        type="text" 
                                        name="location" 
                                        placeholder="Location"
                                        formControlName="location">
                                </app-form-control>
                            </div> 
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p-fileUpload #fileUpload [showUploadButton]="false" [chooseLabel]="'Upload Image'" (onSelect)="onFileSelect($event)" [showCancelButton]="false" [multiple]="false"></p-fileUpload>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-control>
                                <input 
                                    type="text" 
                                    name="title" 
                                    placeholder="Deed Title"
                                    formControlName="title">
                            </app-form-control>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-control>
                                <textarea 
                                    rows="4" 
                                    name="whats-happening" 
                                    placeholder="Tell us what was happening in your life when you got this card? (IE: Having a bad day? Just got a promotion?)"
                                    formControlName="whatsHappening"></textarea>
                            </app-form-control>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-control>
                                <textarea 
                                    rows="4" 
                                    name="deed-description" 
                                    placeholder="What did the person who gave you this card do for you?"
                                    formControlName="deedDescription"></textarea>
                            </app-form-control>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-control>
                                <textarea 
                                    rows="4" 
                                    name="impact" 
                                    placeholder="What is the impact that action had on you?"
                                    formControlName="impact"></textarea>
                            </app-form-control>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                            <!-- <div *ngFor="let tag of tagsList; let i = index;">
                                <input type="checkbox" id="{{ tag }}" name="{{ tag }}" value="Bike">
                                <label for="{{ tag }}">{{ tag }}</label>
                            </div>   -->
                            <p-chips placeholder="Hash Tags" formControlName="hashTags" [allowDuplicate]="false" [showClear]="true"></p-chips>
                        </div>
                        <p>Don’t let the chain of love stop here - do something kind and pass it on</p>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3>Before you go</h3>        
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
                                <p>Would you come onto our podcast to share your story?</p>
                                <app-form-control>
                                    <input formControlName="podcast" type="radio" id="html" name="podcast" value="yes">
                                    <label for="html">Yes</label><br>
                                    <input formControlName="podcast" type="radio" id="css" name="podcast" value="no">
                                    <label for="css">No</label><br>
                                </app-form-control>
                                <span style="font-size: 10px; margin-bottom: 20px;">*saying yes doesn’t guarantee an appearance on the podcast. Also, we won’t share your personal  information with anyone else.</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <app-form-control>
                                    <input 
                                        type="text" 
                                        name="first-name" 
                                        placeholder="First Name"
                                        formControlName="firstName">
                                </app-form-control>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <app-form-control>
                                    <input 
                                        type="text" 
                                        name="last-name" 
                                        placeholder="Last Name"
                                        formControlName="lastName">
                                    </app-form-control>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-control>
                                    <input 
                                        type="text" 
                                        name="email" 
                                        placeholder="Email"
                                        formControlName="email">
                                </app-form-control>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn-gray-blue" form-type="contact">submit</button>
                        </div>
                    
                </form>
                
            </div>
        </div>
    </div>
</div>
