<section class="">
    <div class="section-padding container-fluid bg-image text-center" data-background-img="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/travel.jpg?v=1661896985" data-bg-position-x="center center">
        <div class="container">
            <h2 class="page-title-white">Categories</h2>
        </div>
    </div>
    <div class="container container-margin-minus-t">
        <div class="row">
            <div class="col-md-4">
                <div class="categories-box">
                    <div class="categories-image-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/cat1.jpg?v=1661896980" alt="" />
                    </div>
                    <div class="categories-content">
                        <a href="#">
                            <div class="categories-caption">
                                <h6 class="normal">Random Acts</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="categories-box">
                    <div class="categories-image-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/cat2.jpg?v=1661896980" alt="" />
                    </div>
                    <div class="categories-content">
                        <a href="#">
                            <div class="categories-caption">
                                <h6 class="normal">Volunteering</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="categories-box">
                    <div class="categories-image-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0639/3715/1221/files/cat3.jpg?v=1661896980" alt="" />
                    </div>
                    <div class="categories-content">
                        <a href="#">
                            <div class="categories-caption">
                                <h6 class="normal">Service</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>